.bg-img{
    background: url(https://source.unsplash.com/1600x900/?food);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  /* .bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
  } */